<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CureNCare</title>
  </head>
  <body>
    <h1>Login user</h1>
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">logout</a>
    <!-- <h1>Welcome</h1> -->
    <h1>List of Doctors:<h1>
        <table>
            <tr>
                <!-- <th><p>Doctor</p></th> -->
            </tr>
            {% for a in obj %}
            <tr>
                <!-- <a href="{% url 'doctordetails' d.id %}"></a> <td>{{d.first_name}}</td> -->
            <td><a href="{% url 'ambulancedetails' d.id %}"><p>{{a.vehicleno}}</p></a></td>
            <!-- <td><a href="{% url 'doctordetails' d.id %}"><p>{{d.last_name}}</p></a></td>
            <td><a href="{% url 'doctordetails' d.id %}"><p>{{d.email}}</p></a></td>
            <td><a href="{% url 'doctordetails' d.id %}"><p>{{d.contactno}}</p></a></td>
            <td><a href="{% url 'doctordetails' d.id %}"><p>{{d.pincode}}</p></a></td>
            <td><a href="{% url 'doctordetails' d.id %}"><p>{{d.experience}}</p></a></td> -->
            <!-- <td><a href="{% url 'doctordetails' d.id %}"><p>{{d.speciality}}</p></a></td> -->
            </tr>
            {%  empty %}
            <h3>No Ambulance Found!</h3>
            {% endfor %}
        </table>

  </body>
</html>
