<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CureNCare</title>
  </head>
  <body>
    <h1>Ambulance Details:<h1>
    <p>Vehicle NO: {{obj.vehicleno}}</p>
    <p>Area Code: {{obj.areacode}}</p>
    <p>Driver: {{obj.driver}}</p>
    <!-- <p>Contact No: {{obj.contactno}}</p>
    <p>Pincode: {{obj.pincode}}</p>
    <p>Experience: {{obj.experience}}</p>
    <p>Speciality: {{obj.speciality}}</p> -->
    <!-- <a href="{% url 'doctor_list' %}">Back</a> -->
  </body>
</html>
