<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CureNCare</title>
  </head>
  <body>
    <h1>Doctor Details:<h1>
    <p>First name: {{obj.first_name}}</p>
    <p>Last name: {{obj.last_name}}</p>
    <p>Email: {{obj.email}}</p>
    <p>Contact No: {{obj.contactno}}</p>
    <p>Pincode: {{obj.pincode}}</p>
    <p>Experience: {{obj.experience}}</p>
    <p>Speciality: {{obj.speciality}}</p>
    <!-- <a href="{% url 'doctor_list' %}">Back</a> -->
  </body>
</html>
