<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CureNCare</title>
  </head>
  <body>
    <h1>Hospital Details:<h1>
    <p>Hospital name: {{obj.hospitalname}}</p>
    <p>Contact NO: {{obj.contact_number}}</p>
    <p>Pincode: {{obj.pincode}}</p>
    <p>Administrator: {{obj.administratorname}}</p>
    <p>Doctor: {{obj.doctor}}</p>
    <p>Facilities Available: {{obj.facilities}}</p>
    <p>Ratings: {{obj.ratings}}</p>
    <!-- <a href="{% url 'doctor_list' %}">Back</a> -->
  </body>
</html>
