<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CureNCare</title>
  </head>
  <body>
    <h2>Login</h2>
    <form class="" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
        {% for field in form.visible_fields %}
         <div class="form-group">
           {{ field.label_tag }}
            {{ form.as_p }}
             {% if messages %}
              {% for message in messages %}
                <span>{{ message }}</span>
              {% endfor %}
             {% endif %}
        {% endfor %}
        <br>
          <input type="submit" value="Login">
         </div>
    </form>
  </body>
</html> -->
