<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CureNCare</title>
  </head>
  <body>
    <h1>Pharmacy Details:<h1>
    <p>Shop name: {{obj.shop_name}}</p>
    <p>Shop Address: {{obj.shop_address}}</p>
    <p>Name of the Pharmacist: {{obj.phar_name}}</p>
    <p>Email Address: {{obj.email_pharm}}</p>
    <p>Contact NO: {{obj.contact_no}}</p>
    <p>Pincode: {{obj.pincode}}</p>
    <!-- <p>Speciality: {{obj.speciality}}</p> -->
    <!-- <a href="{% url 'doctor_list' %}">Back</a> -->
  </body>
</html>
