<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cure N Care</title>
  </head>
  <body>
    <h2>Register Here:</h2>
    <a href="{% url 'doctor_register' %}">I am Doctor</a> <br>
    <a href="{% url 'inventory_register' %}">Inventory Details</a> <br>
    <a href="{% url 'pharmacist_register' %}">I am Pharmcist</a> <br>
    <a href="{% url 'hospital_register' %}">I am Hospital Administrator</a> <br>
    <a href="{% url 'driver_register' %}">Ambulancedriver</a> <br>
    <a href="{% url 'ambulance_register' %}">Ambulance Details</a> <br>
    <a href="{% url 'patient_register' %}">I am Patient</a>

  </body>
</html>